Data Types and Structures

1. What are data structures, and why are they important?
 - They are ways to organize and store the data. They make the data easy to use and efficient.
 2. Explain the difference between mutable and immutable data types with examples.
  - Mutable = changeable (list, dict),
     Immutable = not changeable (string, tuple).
3. What are the main differences between lists and tuples in Python?
 - Lists are mutable, use[]
   Tuples are immutable, use()
4. Describe how dictionaries store data.
 - They stores the data as key value pairs.
5. Why might you use a set instead of a list in Python?
 - To store unique values and remove duplicates.
6. What is a string in Python, and how is it different from a list?
 - String = sequence of characters (immutable).
   List = sequence of items (mutable).
7. How do tuples ensure data integrity in Python?
 - They are immutable, so data cannot change.
8.  What is a hash table, and how does it relate to dictionaries in Python?
 - Don't know the answer.
9.  Can lists contain different data types in Python?
 - Yes, it contains different.
10. Explain why strings are immutable in Python.
 -  So they are safe, fast, and memory-efficient.
11. What advantages do dictionaries offer over lists for certain tasks?
 -  Faster lookup using keys instead of searching through items.
12. Describe a scenario where using a tuple would be preferable over a list.
 - When storing fixed data like coordinates (x, y).
13. How do sets handle duplicate values in Python?
 - They automatically remove duplicates.14. How does the “in” keyword work differently for lists and dictionaries?
 - List: checks if value is present.
  Dict: checks if key is present.
15.Can you modify the elements of a tuple? Explain why or why not?
 - No, because tuples are immutable.
16.What is a nested dictionary, and give an example of its use case?
 - A dictionary inside another dictionary. Example: student info with subjects and marks.
17. Describe the time complexity of accessing elements in a dictionary.
 -  O(1) on average (very fast).
18. In what situations are lists preferred over dictionaries?
 -  When order matters or only values are needed.
19.  Why are dictionaries considered unordered, and how does that affect data retrieva?
 - They don’t keep insertion order (before Python 3.7). You can’t rely on order when looping.
20.  Explain the difference between a list and a dictionary in terms of data retrieval.
 - List: access by index.
   Dictionary: access by key.

Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it.
name = "Ashwini"
print(name)

Ashwini

In [2]:
#2. Write a code to find the length of the string "Hello World".
a = "Hello World"
print(len(a))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
b ="Python programming"
b[:3]

'Pyt'

In [4]:
#4.  Write a code to convert the string "hello" to uppercase.
c = "hello"
c.upper()

'HELLO'

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
d = "I like apple"
d.replace("apple", "orange")

'I like orange'

In [6]:
#6.  Write a code to create a list with numbers 1 to 5 and print it.
number= [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

In [7]:
#OR
num = list(range(1, 6))
print(num)

[1, 2, 3, 4, 5]

In [9]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4].
d = [1, 2, 3, 4]
d.append(10)
print(d)

[1, 2, 3, 4, 10]

In [11]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [12]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
s = [ 'a', 'b', 'c', 'd']
print(s[1])

b

In [13]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
f = [10, 20, 30, 40, 50]
print(f[::-1])

[50, 40, 30, 20, 10]

In [14]:
#OR
f.reverse()
print(f)

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
g = ('red', 'grees', 'blue', 'yellow')
print(g[1:])

('grees', 'blue', 'yellow')

In [23]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
h = (10, 20, 5, 15)
print(min(h))

5

In [25]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [26]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "seethafal", "watermelon")
if "kiwi" in fruits:
  print("yes kiwi fruit is in tuple")
else:
  print("no, kiwi fruit is not in tuple")

no, kiwi fruit is not in tuple

In [27]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {"a", "b", "c"}
print(my_set)

{'b', 'a', 'c'}

In [33]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
char = {1, 2, 3, 4, 5}
char.clear()
print(char)

set()

In [34]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
k = {1, 2, 3, 4}
k.remove(4)
print(k)

{1, 2, 3}

In [39]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [40]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
intersection = a.intersection(b)
print(intersection)

{2, 3}

In [42]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"Ashwini", "age":18, "city":"Banglore"}
print(my_dict)

{'name': 'Ashwini', 'age': 18, 'city': 'Banglore'}

In [43]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.result.(replaced)
dict = {"name":"John", "Ahe":25}
dict["Country"] = "USA"
print(dict)

{'name': 'John', 'Ahe': 25, 'Country': 'USA'}

In [48]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {"name":"Alice", "age":30}
print(dict1["name"])

Alice

In [50]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2.pop("age")
print(dict2)

{'name': 'Bob', 'city': 'New York'}

In [52]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
Ash = {'name': 'Alice', 'city': 'Paris'}
if "city" in Ash:
  print("key exist")
else:
  print("key is not existed")

key exist

In [59]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list1 = [1, 2, 3, 5, 45]
my_dict1 = {"name":"AShwini", "age":18}
my_tuple1 = ("Ashwini","Shreya", "Bhagyashree")
print(my_list1)
print(my_dict1)
print(my_tuple1)

[1, 2, 3, 5, 45]
{'name': 'AShwini', 'age': 18}
('Ashwini', 'Shreya', 'Bhagyashree')

In [65]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

numbers = [random.randint(1, 100) for i in range(5)]

numbers.sort()
print(numbers)

[17, 19, 43, 44, 95]

In [67]:
#28. Write a code to create a list with strings and print the element at the third index.
u = ["mango", "guava", "dragon", "seethafal", "orange"]
print(u[3])

seethafal

In [71]:
#29. Write a code to combine two dictionaries into one and print the result.
dec1 = {"name":"Ashwini", "age":18}
dec2 = {"class":"BE 1st year", "coorse":"CSE"}
dec1.update(dec2)
print(dec1)

{'name': 'Ashwini', 'age': 18, 'class': 'BE 1st year', 'coorse': 'CSE'}

In [73]:
#30. Write a code to convert a list of strings into a set.
thing = ["ball", "cricket", "koko", "running"]
things_set = set(thing)
print(things_set)

{'cricket', 'koko', 'ball', 'running'}